# OpenSky API credentials — never commit
opensky-network credentials - livemap.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
# Aviation Stack API key & Environment Variables
*.env
.env
.env.local
venv/
.venv/
env/

# Flask
instance/
.webassets-cache
flask_session/

# OS
.DS_Store
Thumbs.db
